torch
torchvision
numpy
matplotlib
svgwrite
cairosvg
IPython
six>=1.12.0
tensorboard
tensorflow-macos
pillow
svglib
tqdm
jupyter
scikit-image
pandas
networkx
moviepy
numba
sklearn
umap-learn
umap-learn[plot]
shapely
kivy
wandb
nbconvert==7.2.1
lime
umap-learn
captum