model_lessCapacity.pth filter=lfs diff=lfs merge=lfs -text
umap_extended.csv filter=lfs diff=lfs merge=lfs -text
val_data.npy filter=lfs diff=lfs merge=lfs -text
base_slim.csv filter=lfs diff=lfs merge=lfs -text
