body{
  margin: 0;
}

p{
  line-height: 1.8;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1, h2 {
  font-family: 'Archivo Black', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

button {
  background-color: #f9f9f9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.layer {
  padding: 8px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.layer:active {
  backdrop-filter: brightness(70%);
}

.layer.active, .layer:hover {
  color: black;
}

.input.active, .input:hover, .output.active, .output:hover {
  background-color: var(--yellow);
}

.convolution.active, .convolution:hover {
  background-color: var(--purple);
}

.relu.active, .relu:hover {
  background-color: var(--teal);
}

.max-pooling.active, .max-pooling:hover {
  background-color: var(--orange);
}

.flatten.active, .flatten:hover {
  background-color: var(--blue);
}

.linear.active, .linear:hover {
  background-color: var(--red);
}

.input, .output {
  border: 3px solid var(--yellow);
}

.convolution {
  /*background-color: var(--grey);*/
  border: 3px solid var(--purple);
}

.relu {
  /*background-color: var(--grey);*/
  border: 3px solid var(--teal);
}

.max-pooling {
  /*background-color: var(--grey);*/
  border: 3px solid var(--orange);
}

.flatten {
  /*background-color: var(--grey);*/
  border: 3px solid var(--blue);
}

.linear {
  /*background-color: var(--grey);*/
  border: 3px solid var(--red);
}