body {
    margin: 0;
}

p, li {
    line-height: 1.8;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;

    color: #213547;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1, h2 {
    font-family: 'Archivo Black', sans-serif;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #747bff;
}

button {
    background-color: #f9f9f9;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.layer {
    padding: 8px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.layer:active {
    backdrop-filter: brightness(70%);
}

.layer.active, .layer:hover {
    color: black;
}

.input, .output {
    border: 3px solid var(--yellow);
}

.convolution {
    /*background-color: var(--grey);*/
    border: 3px solid var(--purple);
}

.relu {
    /*background-color: var(--grey);*/
    border: 3px solid var(--teal);
}

.max-pooling {
    /*background-color: var(--grey);*/
    border: 3px solid var(--orange);
}

.flatten {
    /*background-color: var(--grey);*/
    border: 3px solid var(--blue);
}

.linear {
    /*background-color: var(--grey);*/
    border: 3px solid var(--red);
}

.convolution.passive-gray,
.relu.passive-gray,
.max-pooling.passive-gray,
.flatten.passive-gray,
.linear.passive-gray,
.input.passive-gray,
.output.passive-gray {
    border: 3px solid var(--gray);
}

.input.active, .input:hover, .output.active, .output:hover {
    /*background-color: var(--yellow);*/
    border: 3px solid var(--yellow);
}

.convolution.active, .convolution:hover {
    /*background-color: var(--purple);*/
    border: 3px solid var(--purple);
}

.relu.active, .relu:hover {
    /*background-color: var(--teal);*/
    border: 3px solid var(--teal);
}

.max-pooling.active, .max-pooling:hover {
    /*background-color: var(--orange);*/
    border: 3px solid var(--orange);
}

.flatten.active, .flatten:hover {
    /*background-color: var(--blue);*/
    border: 3px solid var(--blue);
}

.linear.active, .linear:hover {
    /*background-color: var(--red);*/
    border: 3px solid var(--red);
}

.jump-section {
    font-weight: bold;
    font-size: large;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.jump-section > img.right {
    position: absolute;
    top: -34px;
    right: -74px;
    z-index: 1;
    transition: right 0.3s ease;
}

.jump-section:hover > img.right {
    right: -84px;
}

.jump-section > img.down {
    position: absolute;
    top: -34px;
    right: -154px;
    transition: top 0.3s ease;
}

.jump-section:hover > img.down {
    top: -24px;
}

.jump-section > img.left {
    position: absolute;
    top: -30px;
    left: -60px;
    z-index: -2;
    transition: left 0.3s ease;
}

.jump-section:hover > img.left {
    left: -70px;
}

.key {
    border: 1px solid #aaa;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
    color: #000;
    padding: 0.1em 0.3em;
    font-family: inherit;
    font-size: 0.85em;
}

.customTooltip {
    min-width: 450px !important;
    max-width: 450px !important;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.customTooltip * {
    color: #4a4a4a;
    font-size: 14px
}
